body {
  margin: 0;
  font-family: 'Roboto Black', sans-serif;
  color: #343434;
  background-color: #F2F2F2;
  font-weight: 900;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-bottom: 0.5em;
}
h1,
.h1 {
  font-size: 42px;
}

h2,
.h2 {
  font-size: 32px;
}

h3,
.h3 {
  font-size: 28px;
}

h4,
.h4 {
  font-size: 24px;
}

h5,
.h5 {
  font-size: 18px;
}

h6,
.h6 {
  font-size: 16px;
}

ul.colors {
  position: relative;
  padding-top: 30px;
  margin: 0 auto;
  margin-bottom: 80px;
}

button,
.btn {
  display: inline-block;
  padding: 0 16px;
  background-color: #CDB4FF;
  color: #343434;
  text-decoration: none;
  border: 2px solid #343434;
  line-height: 2;
  font-family: 'Roboto Mono', monospace;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 1px;
  cursor: pointer;
}

button:hover,
.btn:hover {
  background-color: #F2F2F2;
}

.btn--secondary {
  background-color: #F2F2F2;
}
.btn--secondary:hover {
  background-color: #B3FEC9;
}


code {
  background-color: #e1e1e1;
  font-weight: 400;
  padding: 0 8px;
  font-size: 0.8em;
  font-family: 'Roboto Mono', monospace;
}
/* ---> UTILITIES */

/* Colors */
.colorSquare {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin-right: 20px;
  border: 2px solid #343434;
}

.colorHex {
  position: relative;
  color: #D1D1D1;
  top: 120px;
}

.color-1 {
  background-color: #343434;
}

.color-2 {
  background-color: #F2F2F2;
}

.color-3 {
  background-color: #CDB4FF;
}

.color-4 {
  background-color: #B3FEC9;
}

/* Own styles, these are only for styling THIS page */

.pattern-content {
  max-width: 1000px;
  padding: 30px;
  margin: 16px auto;
  background-color: #F2F2F2;
  border: 2px solid #343434;
}

.pattern-section {
  margin-bottom: 64px;
}

.pattern-color {
  display: inline-block;
  width: 100px;
  height: 100px;
  position: relative;
}

.pattern-color:before {
  content: attr(data-color);
  background-color: rgba(0,0,0,0.2);
  display: block;
  color: white;
  text-align: center;
}

.pattern-title {
  opacity: 0.6;
}